<div class="contedor">
    <h2>Lista de Usuarios dende Servidor</h2>

    <!-- Formulario para crear novos usuarios -->
    <div class="formulario">
        <form [formGroup]="formulario">
            <label for="nome">
                Nome
            </label>
            <input type="text" formControlName="nome">
            <label for="rol">
                Rol
            </label>
            <input type="text" formControlName="rol">
            <button type="button" (click)="engadirUsuario()">
                Engadir novo usuario
            </button>
        </form>
    </div>

    <!-- Lista de usuarios -->
    <ul>
        <li *ngFor="let usuario of usuarios">
            <p>{{ usuario.nome }} - {{ usuario.rol }}</p>
            <div class="botons">
                <button type="button" id="mudar-rol" (click)="mudarRol(usuario)">
                    Mudar rol
                </button>
                <button type="button" id="eliminar" (click)="eliminar(usuario)">
                    Eliminar
                </button>
            </div>
        </li>
    </ul>
</div>
