<div class="modal-fondo">
    <div class="modal">
        <h3>Crear novo calefactor</h3>
        <form class="formulario">
            <label for="modelo">
                <input type="text" name="modelo">
            </label>
            <label for="potencia">
                <input type="text" name="potencia">
            </label>
            <div class="botons">
                <button type="button">CREAR</button>
                <button type="button">CANCELAR</button>
            </div>
        </form>
    </div>
</div>