<!-- DIV: Elemento principal -->
<div class="contedor">
  <!-- APP: Elemento principal -->
  <app-elemento-simple></app-elemento-simple>
  <!-- APP: Elemento principal -->
  <app-elemento-simple></app-elemento-simple>
  <!-- APP: Elemento principal -->
  <app-elemento-simple></app-elemento-simple>
  <!-- APP: Elemento principal -->
  <app-elemento-simple></app-elemento-simple>
  <!-- APP: Elemento principal -->
  <app-elemento-simple></app-elemento-simple>
  <!-- APP: Elemento principal -->
  <app-elemento-simple></app-elemento-simple>
</div>