<h1>
    Filtrado de Series de TV por Título
</h1>

<form>
    <input type="text" name="filtro" placeholder="Escribe aquí para filtrar por título" [(ngModel)]="textoBusca">
</form>

<table *ngIf="seriesTemp.length > 0; else nonHaiSeries">
    <thead>
        <tr>
            <th>Título</th>
            <th>Primeira emisión</th>
            <th>Xénero</th>
            <th>Idioma</th>
            <th>En emisión</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let serie of seriesTemp">
            <td>{{ serie.titulo }}</td>
            <td>{{ serie.primeiraEmision | date: 'dd/MM/yyyy' }}</td>
            <td>{{ serie.xenero }}</td>
            <td>{{ serie.idioma }}</td>
            <td>{{ serie.enEmision ? 'Si' : 'Non' }}</td>
        </tr>
    </tbody>
</table>

<ng-template #nonHaiSeries>
    <p>NON HAI SERIES QUE CUMPRAN OS CRITERIOS INDICADOS</p>
</ng-template>